body{
    margin: 0;
    padding: 0;
    /* background-color: brown; */
    background-image: linear-gradient(to right, rgba(63, 64, 150, 0.99), rgba(69, 59, 144, 0.99), rgba(76, 55, 139, 0.99), rgba(82, 50, 133, 0.99), rgba(88, 45, 127, 0.99), rgba(95, 40, 121, 0.99), rgba(101, 36, 116, 0.99), rgba(108, 31, 110, 0.99), rgba(114, 26, 104, 0.99), rgba(120, 21, 98, 0.99), rgba(127, 17, 93, 0.99), rgba(133, 12, 87, 0.99));
    
}

#header{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
    color: rgb(235, 243, 243);
}

#form{
    padding: 40px 0 0 0;
    text-align: center;
}
.input{
    outline: none;
    width: 50%;
    height: 50px;
    font-size: 15px;
}
#button{
    padding-left: 20px;
    width: 30px;
    height: 40px;
    
}
.btn{
    color: rgb(230, 208, 208);
    background-color: orangered;
    font-size: 20px;
    font-weight: normal; 
    border: none;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
}
.btn:hover{
    background-color: black;
    color: cornsilk;
}
.btn:active{
    background-color: cyan;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

#my-list{
   padding:0 29% 0 20% ;
   margin-right: auto;
   margin-left: auto;
}

.list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* padding-left: 100px; */
    background-color: darkgray;
    line-height: 25px;
    font-size: 25px;
    padding-inline-start: 0;
    overflow-wrap: break-word;
    border-radius: 5px;
    /* opacity: 0.5;
    box-shadow: 4px 0px 3px 2px rgba(0, 0, 0, 0.5); */
}
.list-div{
    opacity: 0.8;
    box-shadow: 4px 0px 3px 2px rgba(0, 0, 0, 0.5);
}
.header{
    margin-top:5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    color: blanchedalmond;
    background: brown;
    list-style-type: none;
    font-family: sans-serif;
    height: 40px;
    
}
.header p{
    padding-top: 10px;
}
.list-name{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: normal;
    padding-inline-start: 10px;
    list-style-type: none;
}





#clear{
    padding-left: 35%;
    align-self: center;
    
}
.btn2{
    color: rgb(238, 214, 214);
    background-color: orangered;
    font-size: 20px;
    font-weight: normal; 
    border: none;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 7px;
    margin-left: 43%;
    
    
}
.btn2:hover{
    background-color: black;
    color: cornsilk;
}


.buttons{
    width: 60px;
    height: 40px;
    background: orangered;
    color: blanchedalmond;
    float:right;
    border: none;
    margin-right: 8px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 6px 3px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.buttons:hover{
    color:black;
    background: wheat;
}
/* .list-div{
    display: flex;
} */